<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Coldfront, single-day front-end conference, September 3rd 2015, in Copenhagen. </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">

    <link rel="shortcut icon" href="/images/favicon.png" sizes="16x16 32x32 64x64 128x128 256x256" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <script src="/javascripts/page.js" defer async></script>

    <meta name="description" content="" />
    <meta property="og:title" content="ColdFront · single-day front-end conference in Copenhagen." />
    <meta property="og:description" content="ColdFront is a single-day front-end conference in Copenhagen." />
    <meta property="og:url" content="https://coldfrontconf.com" />
    <meta property="og:site_name" content="ColdFront"/>
    <meta property="og:image" content="https://coldfrontconf.com/images/open_graph.jpg"/>
    <meta property="og:type" content="website"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@coldfrontconf">
    <meta name="twitter:creator" content="@coldfrontconf">
    <meta name="twitter:title" content="ColdFront · single-day front-end conference in Copenhagen.">
    <meta name="twitter:description" content="ColdFront is a single-day front-end conference in Copenhagen.">
    <meta name="twitter:image:src" content="https://coldfrontconf.com/images/open_graph.jpg">

  </head>

  <body>

    <%- body %>

    <footer>
        <nav class="" role="navigation">
            <ul class="nav">
                <li><a href="http://2014.coldfrontconf.com">2014 site</a></li>
                <li><a href="mailto:hello@coldfrontconf.com">Contact / sponsor us</a></li>
            </ul>
        </nav>
    </footer>


  </body>

</html>