<div class="page">

    <section class="splash">
        <div class="image"></div>
        <div class="wrapper vertical-center-align">
            <div class="inner">
                <img alt="ColdFront logo" class="logo" src="/images/logo.svg" />
                <h3>The front-end conference in Copenhagen.</h3>

                <p>The next ColdFront arrives <br /> <strong class="date">September 1st 2016</strong><p>

                <a class="register" target="" href="https://ti.to/coldfrontconf/coldfront-2016">
                    <strong>First batch of tickets: Feb 18th 12:00 →</strong>
                </a>
            </div>

            <div class="mask"></div>
        </div>
    </section>

    <section class="light venue">
        <a name="venue"></a>
        <div class="inner">
            <h2>What is ColdFront?</h2>

            <p>ColdFront is a single day and track front-end conference with 8 talks by internationally renowned speakers. We want to inspire you</p>

            <iframe width="100%" height="510" src="https://www.youtube.com/embed/Fh_0_tQgFZk" frameborder="0" allowfullscreen></iframe>
        </div>
    </section>

    <section class="light venue">
        <a name="venue"></a>
        <div class="inner">
            <h2>Venue</h2>

            <p>Coldfront will be held in one of the oldest cinemas in Copenhagen, <a href="http://www.grandteatret.dk/om_grand/om_grand_teatret/" target="_blank">The Grand Theater</a>.</p>
            <p>The Grand Theater was build in 1913, and is located in a small sidestreet to the famous shopping street Strøget, in very center of old historic Copenhagen.

            <p class="photo"><img src="/images/grand.jpg" width="100%"/>
        </div>
    </section>

    <section class="white organizers">
        <a name="partners"></a>
        <div class="inner">
            <h2>Organizers</h2>

            <ul>
                <li>
                    <img src="/images/organizers/kenneth.jpg" />
                    <div class="media-body">
                        <h3>Kenneth Auchenberg</h3>
                        <p><a href="http://twitter.com/auchenberg" target="_blank">@auchenberg</a></p>
                    </div>
                </li>

                <li>
                    <img src="/images/organizers/daniel.jpg" />
                    <div class="media-body">
                        <h3>Daniel Frost</h3>
                        <p><a href="http://twitter.com/danielovich" target="_blank">@danielovich‎</a></p>
                    </div>
                </li>
            </ul>

            <p>Wanna be a part of ColdFront?</p>
            <p>Read more at our <a href="/partners">partner site</a> or <a href="mailto:hello@coldfrontconf.com">contact us</a></p>

        </div>
    </section>

    <section class="social">
        <div class="inner">
            <a href="https://twitter.com/coldfrontconf" class="twitter-follow-button" data-show-count="true">Follow @coldfrontconf</a>
            <a href="https://twitter.com/share?url=http://coldfrontconf.com" class="twitter-share-button" data-text="ColdFront Conference, one-day front-end conference in Copenhagen. 4th September 2014." data-via="coldfrontconf" data-related="coldfrontconf">Tweet</a>
            <div class="fb-like" data-href="http://coldfrontconf.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
        </div>
    </section>

 </div>
