<div class="page">

    <section class="splash">
    	<div class="image"></div>
        <div class="wrapper vertical-center-align">
            <div class="inner">
                <img alt="ColdFront logo" class="logo" src="/images/logo.svg" />
                <h3>is a single-day front-end conference in Copenhagen.</h3>
                
                <p>We had a blast, so we are repeating ColdFront in 2015. This time bigger, better and bit more fun!</p>
                <p>The next ColdFront arrives <strong>September 3rd 2015</strong>.<p>

                <a class="btn btn-tickets" href="https://ti.to/coldfrontconf/2015">GET YOUR TICKET</a>

                <p></p>

				<section class="social">
					<a href="https://twitter.com/share" class="twitter-share-button" data-via="coldfrontconf" data-count="none">Tweet</a>
					<a href="https://twitter.com/coldfrontconf" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @coldfrontconf</a>
					<div class="fb-like" data-href="https://facebook.com/coldfrontconf" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
				</section>

				<section class="newsletter">
					<form action="//coldfrontconf.us8.list-manage.com/subscribe/post?u=cc078fd6eb28f04be591da615&amp;id=32e87080fd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
					    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					    <div style="position: absolute; left: -5000px;"><input type="text" name="b_cc078fd6eb28f04be591da615_32e87080fd" tabindex="-1" value=""></div>
					    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
					</form>
				</section>

            </div>


        </div>
    </section>

</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1446496292269350&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>