<div class="page">

    <section class="splash">
        <div class="image"></div>
        <div class="wrapper vertical-center-align">
            <div class="inner">
                <img alt="ColdFront logo" class="logo" src="/images/logo.svg" />
                <h3>The front-end conference in Copenhagen.</h3>


                <p>There's a ColdFront on it's way.<p>

                <a href="https://twitter.com/coldfrontconf" class="twitter-follow-button" data-show-count="true">Follow @coldfrontconf</a>
                <a href="https://twitter.com/share?url=http://coldfrontconf.com" class="twitter-share-button" data-text="ColdFront Conference, one-day front-end conference in Copenhagen. 4th September 2014." data-via="coldfrontconf" data-related="coldfrontconf">Tweet</a>
                <div class="fb-like" data-href="http://coldfrontconf.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
            </div>
        </div>
    </section>

 </div>
