<!DOCTYPE html>
<html>
  <head>
    <title>Coldfront Conference</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>

<body>

    <div class="jumbotron masthead">
      <div class="container">
        <h1>Coldfront Conference</h1>
        <h2>Awesome conference soon in Copenhagen</h2>
        <h3>by <a href="http://twitter.com/auchenberg">@auchenberg</a></h3>


        <a href="https://twitter.com/share" class="twitter-share-button" data-via="coldfront" data-size="large">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>

</body>
</html>
