<div class="page">

    <section class="splash">
        <div class="wrapper vertical-center-align">
            <div class="inner">
                <img alt="ColdFront logo" class="logo" src="/images/logo.svg" />
                <h3>ColdFront is a single-day front-end conference in Copenhagen.</h3>
                <h4>The first edition took place at September 4th 2014.</h4>

               
                <section class="organizers">
					<h5>Organized by</h5>
					
					<ul>
						<li>
							<img src="/images/organizers/kenneth.png" />
							<div class="media-body">
								<h6>Kenneth Auchenberg</h6>
								<p><a href="http://twitter.com/auchenberg" target="_blank">@auchenberg</a></p>
							</div>
						</li>

						<li>
							<img src="/images/organizers/daniel.jpg" />
							<div class="media-body">
								<h6>Daniel Frost</h6>
								<p><a href="http://twitter.com/danielovich" target="_blank">@danielovich‎</a></p>
							</div>
						</li>
					</ul>
				</section>
            </div>


        </div>
    </section>

</div>