<!DOCTYPE html>
<html>
  <head>
    <title>Kill-droid</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>

<body>

    <div class="jumbotron masthead">
      <div class="container">
        <h1>Kill Droid.</h1>
        <p>
          <iframe width="640" height="480" src="http://www.youtube.com/embed/Q2-0B04HPhs" frameborder="0" allowfullscreen></iframe>
        </p>
        <p>Credits: <a href="http://www.isk.kth.se/~rbbo/testussd.html">http://www.isk.kth.se/~rbbo/testussd.html</a></p>
        <p>Tweet: <a href="https://twitter.com/pof/status/250534742041174016">https://twitter.com/pof/status/250534742041174016</a></p>

        <a href="https://twitter.com/share" class="twitter-share-button" data-via="auchenberg" data-size="large">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>

</body>
</html>
