<div class="page partners">
 
    <section class="black intro">
        <a name="intro"></a>

        <div class="image"></div>
        <div class="wrapper vertical-center-align"> 
        
        <div class="inner container">

            <img alt="ColdFront logo" class="logo" src="/images/logo.svg" />

            <h2>Become a part of ColdFront</h2>

            <p>We believe conferences is a lot about people, and we want our sponsors to connect with the attendees, and the best way to create a connection with people is to sponsor more tangible things.</p>

            <p>We are bored with the classical “sponsor packages”. </p>

            <p>We don’t believe it works, and for most of the attendees it doesn’t matter if your logo is 200 or 600 pixels wide or you have a booth where you hand out brochures or pens that break.</p>

            <p>Instead we give you the opportunity to sponsor the things people love, like a great lunch, the good beer, that nice ice-cream or the conference t-shirt that came with those awesome cupcakes.</p>

            <p>This is the stuff people will remember, in combination with your logo, your brand and your face.</p>

            <p>This is why we say a sponsor of ColdFront, is a partner of ColdFront. We want you to get involved in the ColdFront community.</p>

            <p>Together - we make ColdFront happen</p>


        </div>

    </section>

    <section class="light existing-partners">
        <a name="intro"></a>
        
        <div class="inner container">
            <h2>Our existing partners</h2>

            <p>We have already a bunch of great ColdFront partners who has supported our previous events.</p>

            <ul class="partners">

                <li class="vertical-center-align citrix">
                    <a href="http://citrix.com" target="_blank">
                        <img src="/images/partners/logos/citrix.png" />
                    </a>
                </li>

                <li class="vertical-center-align lbi">
                    <a href="http://23video.com" target="_blank">
                        <img src="/images/partners/logos/23.svg" height="100" />
                    </a>
                </li>

                <li class="vertical-center-align moc">
                    <a href="https://moc.net/" target="_blank">
                        <img src="/images/partners/logos/moc.png" width="200" />
                    </a>
                </li>

                <br />

                <li class="vertical-center-align falcon">
                    <a href="https://falconsocial.com" target="_blank">
                        <img src="/images/partners/logos/falcon_social.svg" />
                    </a>
                </li>
                <li class="vertical-center-align shift">
                    <a href="http://shiftcph.dk" target="_blank">
                        <img src="/images/partners/logos/shift.png" />
                    </a>
                </li>

                <li class="vertical-center-align umbraco">
                    <a href="http://umbraco.com" target="_blank">
                        <img src="/images/partners/logos/umbraco.png" />
                    </a>
                </li>

                <li class="vertical-center-align iconfinder">
                    <a href="http://iconfinder.com" target="_blank">
                        <img src="/images/partners/logos/iconfinder.svg" />
                    </a>
                </li>

                <li class="vertical-center-align iconfinder">
                    <a href="http://zendesk.com" target="_blank">
                        <img src="/images/partners/logos/zendesk.png" />
                    </a>
                </li>

                <li class="vertical-center-align kraftvaerk">
                    <a href="http://kraftvaerk.com" target="_blank">
                        <img src="/images/partners/logos/kraftvaerk.svg" width="300" />
                    </a>
                </li>

                <li class="vertical-center-align trustpilot">
                    <a href="http://trustpilot.com" target="_blank">
                        <img src="/images/partners/logos/trustpilot.svg" width="300" />
                    </a>
                </li>

                <li class="vertical-center-align lbi">
                    <a href="http://www.digitaslbi.com/dk/" target="_blank">
                        <img src="/images/partners/logos/lbi.svg" width="300" />
                    </a>
                </li>

            </ul>

        </div>

    </section>

    <section class="packages job">
        <div class="img"></div>
        <div class="inner">
            <h2>Package 1: The job sponsor</h2>
            <p>Need front-end developers ? Get the best job ad position for the people you're looking for.</p>
            <ul>
                <li>4 x Mentions in emails and tweets during the next 12 months</li>
                <li>2 minute video interview shared on Twitter, Facebook and our YouTube channel.</li>
                <li>1 roll-up at venue</li>
                <li>1 x Conference ticket</li>
                <li>1 Mention (logo and link) in the feedback email, the day after the conference</li>
            </ul>
            <p>Price: 10.000 DKK per job.</p>

        </div>
    </section>

    <section class="packages lunch right">
        <div class="overlay"></div>
        <div class="img"></div>
        <div class="inner">
                <h2>Package 2: Lunch sponsor</h2>
                <p>People eat, so why don't you make sure we get some decent food, and in return we'll do this for you.</p>
                <ul>
                    <li>Presented on stage before first session</li>
                    <li>Logo with link to website</li>
                    <li>2 x Mentions in emails/tweets during the next 12 months</li>
                    <li>1 x Roll-up at venue</li>
                    <li>2 x Conference tickets</li>
                </ul>

                <p>Price: 15.000 DKK</p>
        </div>
    </section>

    <section class="packages coffee">
        <div class="overlay"></div>
        <div class="img"></div>
        <div class="inner">
                <h2>Package 3: Coffee sponsor</h2>
                <p>People drink coffee, so why don't you make sure we get some great coffee, and in return we'll do this for you.</p>
                <ul>
                    <li>Presented on stage before first session</li>
                    <li>Logo with link to website</li>
                    <li>2 x Mentions in emails/tweets during the next 12 months</li>
                    <li>1 x Roll-up at venue</li>
                    <li>2 x Conference tickets</li>
                </ul>

                <p>Price: 15.000 DKK</p>
        </div>
    </section>


    <section class="packages cupcake right">
        <div class="overlay"></div>
        <div class="img"></div>
        <div class="inner">
                <h2>Package 4: Cupcake sponsor</h2>
                <p>Cupcakes are fun, and we'll print your logo along with ours on them, and in return we'll do this for you:</p>
                <ul>
                    <li>Presented on stage before first session</li>
                    <li>Logo with link to website</li>
                    <li>2 x Mentions in emails/tweets during the next 12 months</li>
                    <li>1 x Roll-up at venue</li>
                    <li>2 x Conference tickets</li>
                </ul>

                <p>Price: 15.000 DKK</p>
        </div>
    </section>

    <section class="packages beer">
        <div class="overlay"></div>
        <div class="img"></div>
        <div class="inner">

                <h2>Package 5: Beer sponsor</h2>
                <p>We drink beer, and lots of it. So if you make sure we all get a couple of pints and a bunch of salt-sticks, and in return we’ll do this for you:</p>
                <ul>
                    <li>Presented on stage before first session</li>
                    <li>Logo with link to website</li>
                    <li>2 x Mentions in emails/tweets during the next 12 months</li>
                    <li>1 x Roll-up at venue</li>
                    <li>2 x Conference tickets</li>
                </ul>

                <p>Price: 15.000 DKK</p>
        </div>
    </section>

    <section class="packages swag right">
        <div class="img"></div>
        <div class="inner">
                <h2>Package 6: Swag sponsor</h2>
                <p>Swag can be fun, so if you have something cool to share people will love it, and in return we'll do this for you:</p>
                <ul>
                    <li>Presented on stage before first session</li>
                    <li>Logo with link to website</li>
                    <li>2 x Mentions in emails/tweets during the next 12 months</li>
                    <li>1 x Roll-up at venue</li>
                    <li>2 x Conference tickets</li>
                </ul>

                <p>Price: 15.000 DKK</p>
        </div>
    </section>

    <section class="packages ice">
        <div class="overlay"></div>
        <div class="img"></div>
        <div class="inner">
                <h2>Package 7: Ice cream sponsor</h2>
                <p>We need a bit of tasteful sugar during the conference, and since we are organizing "ColdFront". Why not serve ice-creme to all the attendees. In return we'll do this for you:</p>
                <ul>
                    <li>Presented on stage before first session</li>
                    <li>Logo with link to website</li>
                    <li>2 x Mentions in emails/tweets during the next 12 months</li>
                    <li>1 x Roll-up at venue</li>
                    <li>2 x Conference tickets</li>
                </ul>

                <p>Price: 15.000 DKK</p>
        </div>
    </section>

    <section class="contact black">
        <div class="inner container">

            <p>Interesting in becoming a partner? Send us an email or give Daniel a call.</p>

            <br />

            <p>hello@coldfrontconf.com<p>

            <p>or</p>

            <p>+45 2251 7627</p>

        </div>
    </section>


 </div>
