<div class="page partners">

	<section class="black intro">
		<a name="intro"></a>

		<div class="image"></div>
		<div class="wrapper vertical-center-align">

			<div class="inner container">

				<img alt="ColdFront logo" class="logo" src="/images/logo.svg" />

				<h2>Become a part of ColdFront</h2>

				<p>We believe conferences is a lot about people, and we want our sponsors to connect with the attendees, and the best way to create a connection with people is to sponsor more tangible things.</p>

				<p>We are bored with the classical “sponsor packages”. </p>

				<p>We don’t believe it works, and for most of the attendees it doesn’t matter if your logo is 200 or 600 pixels wide or you have a booth where you hand out brochures or pens that break.</p>

				<p>Instead we give you the opportunity to sponsor the things people love, like a great lunch, the good beer, that nice ice-cream or the conference t-shirt that came with those awesome cupcakes.</p>

				<p>This is the stuff people will remember, in combination with your logo, your brand and your face.</p>

				<p>This is why we say a sponsor of ColdFront, is a partner of ColdFront. We want you to get involved in the ColdFront community.</p>

				<p>Together - we make ColdFront happen</p>


			</div>

		</div>
	</section>

	<section class="light existing-partners">
		<a name="intro"></a>

		<div class="inner container">
			<h2>Our existing partners</h2>

			<p>We have already a bunch of great ColdFront partners who has supported our previous events.</p>

			<ul class="partners">

				<li class="vertical-center-align citrix">
					<a href="http://citrix.com" target="_blank">
						<img src="/images/partners/logos/citrix.png" />
					</a>
				</li>

				<li class="vertical-center-align lbi">
					<a href="http://23video.com" target="_blank">
						<img src="/images/partners/logos/23.svg" height="100" />
					</a>
				</li>

				<li class="vertical-center-align moc">
					<a href="https://moc.net/" target="_blank">
						<img src="/images/partners/logos/moc.png" width="200" />
					</a>
				</li>

				<br />

				<li class="vertical-center-align falcon">
					<a href="https://falconsocial.com" target="_blank">
						<img src="/images/partners/logos/falcon_social.svg" />
					</a>
				</li>
				<li class="vertical-center-align shift">
					<a href="http://shiftcph.dk" target="_blank">
						<img src="/images/partners/logos/shift.png" />
					</a>
				</li>

				<li class="vertical-center-align umbraco">
					<a href="http://umbraco.com" target="_blank">
						<img src="/images/partners/logos/umbraco.png" />
					</a>
				</li>

				<li class="vertical-center-align iconfinder">
					<a href="http://iconfinder.com" target="_blank">
						<img src="/images/partners/logos/iconfinder.svg" />
					</a>
				</li>

				<li class="vertical-center-align iconfinder">
					<a href="http://zendesk.com" target="_blank">
						<img src="/images/partners/logos/zendesk.png" />
					</a>
				</li>

				<li class="vertical-center-align kraftvaerk">
					<a href="http://kraftvaerk.com" target="_blank">
						<img src="/images/partners/logos/kraftvaerk.svg" width="300" />
					</a>
				</li>

				<li class="vertical-center-align trustpilot">
					<a href="http://trustpilot.com" target="_blank">
						<img src="/images/partners/logos/trustpilot.svg" width="300" />
					</a>
				</li>

				<li class="vertical-center-align lbi">
					<a href="http://www.digitaslbi.com/dk/" target="_blank">
						<img src="/images/partners/logos/lbi.svg" width="300" />
					</a>
				</li>

			</ul>

		</div>

	</section>

	<section class="packages job">
		<div class="img"></div>
		<div class="inner">
			<h2>The Job!</h2>
			<p>Need front-end developers ? Get the best job ad position for the people you're looking for.</p>
			<ul>
				<li>4 x Mentions in emails and tweets during the next 3 months</li>
				<li>Content of your choice (specific to the job) shared on Twitter.</li>
				<li>1 x 2x2m booth</li>
				<li>2 x Conference tickets</li>
				<li>1 Mention (logo and link) in the feedback email, the day after the conference</li>
			</ul>
			<p>Price: 25.000 DKK.</p>

		</div>
	</section>

	<section class="packages lunch right">
		<div class="overlay"></div>
		<div class="img"></div>
		<div class="inner">
			<h2>A Great Lunch!</h2>
			<p>We all need food, so why don't you make sure we get some decent lunch, and in return we'll do this for you.</p>
			<ul>
				<li>Logo and 200 characters presented on main screen during breaks</li>
				<li>Logo with link to website</li>
				<li>2 x Mentions in emails/tweets during the next 12 months</li>
				<li>Presented on stage before first session</li>
				<li>3 x Conference tickets</li>
			</ul>

			<p>Price: 40.000 DKK</p>
		</div>
	</section>

	<section class="packages video">
		<div class="overlay"></div>
		<div class="img"></div>
		<div class="inner">
			<h2>Video Content Splash!</h2>
			<p>Our videos has been watch over half a million minutes in 2014. We'll probably beat that in 2015, which makes this a great opportunity for your brand.</p>
			<ul>
				<li>Presented on stage before first session</li>
				<li>Logo with link to website</li>
				<li>5 second intro-splash on every video put online</li>
				<li>2 x Mentions in emails/tweets during the next 12 months</li>
				<li>3 x Conference tickets</li>
			</ul>

			<p>Price: 50.000 DKK</p>
		</div>
	</section>


	<section class="packages party right">
		<div class="overlay"></div>
		<div class="img"></div>
		<div class="inner">
			<h2>After Party!</h2>
			<p>Unique opportunity to get introduced to several hundred frontend and web experts for a party with your and our name on the door.</p>
			<ul>
				<li>We'll invite the whole audience</li>
				<li>Logo with link to website</li>
				<li>Custom ColdFront + You beer etiquette</li>
				<li>4 x Mentions/links and 400 (150 for tweets) characters in emails/twitter during the next 12 months</li>
				<li>Presented on stage before first session</li>
				<li>Presented on stage after last session</li>
				<li>1 x ColdFront + Company banner at party venue</li>
				<li>4 x Conference tickets</li>
			</ul>
			<p>Price: 75.000 DKK</p>
		</div>
	</section>

	<section class="packages swag">
		<div class="overlay"></div>
		<div class="img"></div>
		<div class="inner">
			<h2>Swag Pusher</h2>
			<p>Wish to share company promotions, funky t-shirts, mad science code challenges or just a happy face ?</p>
			<ul>
				<li>Logo with link to website</li>
				<li>1x1m booth</li>
				<li>2 x Conference tickets</li>
				<li>50% ticket discount (max 2 tickets)</li>
			</ul>

			<p>Price: 25.000 DKK</p>
		</div>
	</section>


	<section class="packages cupcake right">
		<div class="overlay"></div>
		<div class="img"></div>
		<div class="inner">
			<h2>ColdFront Cupcakes</h2>
			<p>Cupcakes are yummi, and we'll make a couple of hundred of them, and share them around the audience.</p>
			<ul>
				<li>Logo with link to website</li>
				<li>2 x Conference ticket</li>
				<li>50% ticket discount (max 2 tickets)</li>
			</ul>

			<p>Price: 20.000 DKK</p>
		</div>
	</section>

	<section class="packages community ">
		<div class="overlay"></div>
		<div class="img"></div>
		<div class="inner">
			<h2>Community Supporter</h2>
			<p>Our community loves new stickers for their laptops. You send them, we share them.</p>
			<ul>
				<li>Logo with link on website</li>
				<li>Laptop stickers for attendees</li>
				<li>50% ticket discount (max 2 tickets)</li>
			</ul>

			<p>Price: 10.000 DKK</p>
		</div>
	</section>


	<section class="packages ice taken">
		<div class="overlay"></div>
		<div class="company">Sponsored by <p><img src="/images/partners/logos/google.png" width="300"></p> </div>
		<div class="img"></div>
		<div class="inner">
			<h2>ColdFront Icecream</h2>
			<p>We'll give our guests a taste of what we stand for with our beautiful and very tasty homemade icecream.</p>
			<ul>
				<li>Logo with link to website</li>
				<li>2 x Conference tickets</li>
				<li>50% ticket discount (max 2 tickets)</li>
			</ul>
			<p>Price: 20.000 DKK</p>
		</div>
	</section>

	<section class="packages coffee taken right">
		<div class="overlay"></div>
		<div class="company">Sponsored by <p><img src="/images/partners/logos/iconfinder.svg" width="300"></p> </div>
		<div class="img"></div>
		<div class="inner">
			<h2>ColdFront Coffee</h2>
			<p>We'll give our guests a taste of what we stand for with our beautiful and very tasty homemade icecream.</p>
			<ul>
				<li>Logo with link to website</li>
				<li>2 x Conference tickets</li>
				<li>50% ticket discount (max 2 tickets)</li>
			</ul>
			<p>Price: 22.000 DKK</p>
		</div>
	</section>

	<section class="contact black">
		<div class="inner container">

			<p>Interesting in becoming a partner? Send us an email or give Daniel a call.</p>

			<br />

			<p>hello@coldfrontconf.com</p>

			<p>or</p>

			<p>+45 2251 7627</p>
		</div>
	</section>


</div>
