<div class="page">
    <section class="white workshop info-box">
        <a name="workshop" id="workshop"></a>

        <div class="inner">
            <h2>Workshop</h2>
            <p>This year, we are trying something new. The day before the conference, we are running a workshop, and we are so happy to be able offer this workshop in collaboration with <a href="http://www.smashingmagazine.com/">Smashing Magazine</a>.</p>

                <div class="info">

                    <h2>Responsive Design: Clever Tips, Tricks And Techniques</h2>

                    <p class="workshop-duration">Wednesday September 2nd 2015 • Full-day workshop</p>

                    <div class="intro">
                        <img src="images/workshop-vitaly-friedman.jpg" />

                        <div class="body">
                            <p>In this full-day workshop, <a href="https://twitter.com/smashingmag">Vitaly Friedman</a>, editor-in-chief of Smashing Magazine, will present practical techniques, clever tricks and useful strategies you need to be aware of when working on any responsive design project. The techniques are borrowed from mid-size and large-scale <strong>real-life projects</strong>, such as large eCommerce projects, online magazines and Web applications.</p>
                        </div>

                    </div>

                    <div class="text">
                        <p>The workshop provides a  comprehensive overview of smart responsive design patterns, advanced front-end techniques, clever UX patterns, optimization for critical rendering path and robust performance tricks — a treasure of actionable, hands-on takeaways to apply in your project. We'll be looking at <strong>many case studies and real-life examples</strong> of projects using these techniques effectively today.</p>

                        <p>The workshop has <strong>two main parts</strong>:</p>

                        <ul>
                            <li>the first half of the day is dedicated to <strong>design/UX</strong>, the RWD workflow ("designing systems"), content choreography, design patterns, responsive components (tables, calendars, navigations, forms etc.) and delightful UX,</li>
                            <li>the second half covers <strong>technical considerations</strong>, front-end techniques, performance strategies and optimization for the critical rendering path.</li>
                        </ul>

                        <p>In this workshop, you'll learn:</p>

                        <ul>
                            <li>Effective <strong>tools and techniques</strong> that can support and enhance your personal workflow when working on any responsive design project,</li>
                            <li>An overview of clever practical techniques for improving UX of responsive sites,</li>
                            <li><strong>Front-end strategies</strong> for scalable, resolution-independent graphics and maintainable CSS code with SVG and icon fonts,</li>
                            <li><strong>Responsive design patterns</strong> and innovative approaches to designing "responsive modules" such as tables, calendars, multi-level menus, maps and Web forms,</li>
                            <li><strong>Clever performance tricks</strong>, smart lazy loading and dealing with Web fonts,</li>
                            <li>Testing, debugging and maintenance techniques for responsive sites as well as lessons learned from Smashing Magazine's own redesign in 2012,</li>
                            <li>Technical issues (and solutions) for responsive advertising and <strong>responsive email newsletters</strong>,</li>
                            <li>How the design processes should adapt in terms of the project management, <strong>deliverables</strong>, performance budgets, team organization and strategy.</li>
                        </ul>

                        <p>This workshop is intended for professional designers, developers and everybody else who is dealing with responsive design regularly or wants to better understand responsive design in general. You should at least be familiar with some basics of responsive design, HTML5 and CSS.</p>

                        <h3>What hardware/software do you need?</h3>
                        <p>To get the most out of the workshop, you might want to bring a laptop but it's not absolutely necessary.</p>

                        <h3>Location and venue</h3>
                        <p>This workshop will be hosted at <a href="https://republikken.net/">Republikken</a>, which is a 10min walk from the conference venue. Details will follow when we get closer.</p>

                        <h3>Registration and price</h3>
                        <p>We think workshops should be affortable, so we are able to offer this workshop for just <strong>1.800 DKK + VAT</strong>, which we think is quite a scoop!</p>
                        <p>We have a limited number of seats, so grab a seat, while you can.</p>
                        <br />
                        <p><a href="https://ti.to/coldfrontconf/2015" class="register"><strong>Register for this workshop →</strong></a>
                    </div>

                </div>
        </div>
    </section>
</div>
