<div class="page" data-aos-delay="200">

    <div class="social hidden-xs hidden-sm">
        <a class="btn btn-social btn-shape1" href="https://www.facebook.com/coldfrontconf/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a class="btn btn-social btn-shape2" href="https://twitter.com/coldfrontconf    "><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a class="btn btn-social btn-shape3" href="https://www.linkedin.com/company-beta/18009840/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    </div>

    <section class="splash" data-aos="fade-up">
        <div class="wrapper">
            <div class="inner">
                <div class="text">
                    <img alt="ColdFront logo" src="/images/logo.svg" class="logo" />
                    <h2>Conference</h2>
                    <p>ColdFront  brings frontenders from all over together for two days of front-end talks and lots of fun in the heart of Copenhagen, Denmark</p>
                    <a class="btn btn-primary" href="https://www.youtube.com/channel/UCZHbZVjG2wXaLCuHK3LZ5lw">ColdFront talks and videos</a>
                </div>

            </div>
        </div>
    </section>

    <section class="about" data-aos="fade-up">
        <a name="about"></a>
        <div class="inner">
            <h2>The front-end conference</h2>
            <p>ColdFront brings frontenders from all over together for two days of front-end talks and lots of fun in Copenhagen. It’s a two day conference with 12 talks by internationally renowned speakers, 2 panel debates, amazing food and networking with your front-end colleagues. Our focus is on the web and where front-end is headed. So sit tight and get ready to be inspired.</p>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/-x-MdHKRsLo" frameborder="0" allowfullscreen></iframe>
        </div>
    </section>

    <section class="about" data-aos="fade-up">
        <a name="about"></a>
        <div class="inner">
            <h2>ColdFront in 2018</h2>
            <p>We are planning another ColdFront storm to arrive in late 2018, so sign up to stay tuned and become a early bird ColdFronter!</p>

            <div class="newsletter">
                <a name="newsletter"></a>
                <h3>Don't miss out on any news,
                    <br />join our mailinglist!</h3>
                <div id="mc_embed_signup">
                    <form action="//coldfrontconf.us8.list-manage.com/subscribe/post?u=cc078fd6eb28f04be591da615&amp;id=ff44bdceac" method="post"
                        id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <div class="mc-field-group">
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="hello@there.com">
                            </div>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                <input type="text" name="b_cc078fd6eb28f04be591da615_ff44bdceac" tabindex="-1" value="">
                            </div>
            
                            <input type="submit" value="Notify me" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
                        </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                    </form>
                </div>
            </div>
    
        </div>
    </section>
    
    <section class="collaborators organizers section-blue">
        <a name="collaborators"></a>
        <div class="inner">
    
            <h2>Questions</h2>
            <p>We started ColdFront in 2014 with a mission to put Copenhagen on the front-end map. ColdFront is organized by Kenneth Auchenberg & Michael Christansen.
            Have a question or want to be a part of ColdFront? Don't hersitate to ping us!</p>
            <div class="list">
                <a href="https://kenneth.io" target="_blank">
                    <img src="/images/organizers/kenneth.png" class="zendesk" />
                </a>
                <a href="http://indievid.dk" target="_blank">
                    <img src="/images/organizers/michael.png" />
                </a>
            </div>

            <a class="btn btn-primary" href="mailto:hello@coldfront.co">Contact us</a>

            </div>
    </section>

    <section class="about" data-aos="fade-up">
        <a name="about"></a>
        <div class="inner">
            <h2>Previous years</h2>
            <a href="https://2017.coldfront.co">2017</a> |
            <a href="https://2016.coldfront.co">2016</a> |
            <a href="https://2015.coldfront.co">2015</a> |
            <a href="https://2014.coldfront.co">2014</a>
        
            <br />
            <br />
            <br />
            <br />

        </div>
    </section>  

</div>