<div class="page page-diversity">
	<section class="white">
		<div class="inner">
			<h2>Diversity Scholarships</h2>
			
			<p>We started ColdFront to build a front-end community in Copenhagen, and we aim to help underrepresented groups in tech. This includes but isn’t limited to: immigrants, students, people of color, LGBTQIA+ people, disabled people and alike. We would like to give welcome you to our community!</p>

			<p>At ColdFront we pay our speakers a honorarium in addition to covering travel expenses, and this year we have teamed up with the employees of some amazing companies who have agree to donate their speaker honorariums into a <strong>limited number of free, diversity sponsored tickets for ColdFront and Copenhagen Techfestival.</strong></p>
			
			<div class="logos">
				<img src="/images/diversity/samsung.png" />
				<img src="/images/diversity/intel.png" />
			</div>

			<p>These tickets are available through an application procedure. Along with personal details for the tickets itself, we ask applicants a few questions about what they do in tech, or what they wish to learn on the event. These answers are helpful for the jury, who will evaluate the applications and award the tickets.</p>
						
			<p>&nbsp;</p>

			<h3>What's a diversity scholarship?</h3>
			
			<p>A diversity scholarship for ColdFront includes 1x free ticket + help with travel and acommondation. We cannot garantee to cover all of your travel expenses, but we can help you finding a place to sleep, etc. </p>
							
			<p>&nbsp;</p>
			
			<h3>How do I apply?</h3>
			
			<p>Scholarship are available through an application procedure. Along with personal details for the tickets itself, we ask applicants a few questions about what they do in tech, or what they wish to learn on the event. These answers are helpful for the jury, who will evaluate the applications and award the tickets.</p>
			
			<p>
				<a href="https://docs.google.com/forms/d/e/1FAIpQLSfnZwAGn_pC7Az6HNl26pVSlYMMdIfCKKxHCFa8ls5dcQK8wg/viewform?usp=sf_link" class="btn btn-primary">Apply now</a>
			</p>

			<p>&nbsp;</p>
			
			<p><strong>Applications are accepted until Sunday, July 30, 2017.</strong></p>
			
			<p>&nbsp;</p>

			<h3>Privacy</h3>
			<p>We will treat your application with absolute privacy, and the applications will by evaluated by the organizers of ColdFront, not by any of our partners.</p>
			
			<p>We will not be making any public announcements of whom the tickets has gone to.</p>
		
			<p>&nbsp;</p>

			<h3>Why?</h3>	
			<p>We are inspired by how the <a href="http://jsconf.com">JSCONF</a> has been putting a focus on diversity in tech, and we want to contribute to that, as our community is the centerpiece on why we are doing ColdFront.</a>

			<p>&nbsp;</p>
			<p>&nbsp;</p>
		</div>
	
	</section>

</div>
