<div class="page">

    <div class="social hidden-xs hidden-sm">
        <a class="btn btn-social btn-shape1" href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a class="btn btn-social btn-shape2" href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a class="btn btn-social btn-shape3" href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    </div>

    <section class="splash">
        <div class="wrapper">
            <div class="inner">

                <div class="text">                                    
                    <img alt="ColdFront logo" src="/images/logo.svg" class="logo" />
                    <h2>Sep 5-6, 2017</h2>
                    
                    <p>Get inspired for tomorrow's front-end challanges and get a peak of what the future brings for mobile and front-end development</p>

                    <a class="btn btn-primary" href="#newsletter">Register for early bird</a>
                </div>

            </div>
        </div>
    </section>

    <section class="bubbles section-wide">
        <div class="inner">
            <div class="bubble pull-left">
                <img src="/images/ladyspeaker-noise-with-pixels.png">
            </div>
            <div class="bubble pull-right">
                <img src="/images/audience-with-pixels.png">
            </div>
            <div class="bubble bubble-center hidden-xs hidden-sm">
                <img src="/images/cake-with-pixels.png">
            </div>
        </div>
    </section>

    <section class="about">
        <a name="about"></a>
        <div class="inner">
            <h2>A two-day conference</h2>
            <p>ColdFront is the front-end conference in Copenhagen. A two day and single track conference with 12 talks by internationally renowned speakers, 2 panel debates, amazing food and networking with industry leaders.</p>
            <p>Our focus is on the web, and where front-end world is headed. So sit tight, and get ready to be inspired.</p>
        </div>
    </section>

    <section class="video">
        <a name="video"></a>
        <div class="inner">
            <div class="border-top"></div>
            <div class="overlay"></div>
            <a class="btn btn-shape4 video-link" target="_blank" href="https://www.youtube.com/watch?v=u7CV0vFO2sg"><i class="fa fa-play" aria-hidden="true"></i></a>
            <div class="border-bottom"></div>
        </div>

    </section>


    <section class="venue">
        <a name="venue"></a>
        <div class="inner">
            <h2>Venue</h2>
            <p>
                ColdFront will be held in VEGA, one of the leading concert stages in Europe. Showcasing original 50's design gives the building a unique atmosphere, and VEGA's decor with dark wood paneling, mahogany floors, friezes, and the many original details including railings, balustrades and lamps in typical Scandinavian style are the hallmarks of VEGA.
            </p>
            <p>
                <a class="text-bold text-upper" target="_blank" href="https://www.google.ca/maps/place/Vega/@55.668023,12.5418672,17z/data=!3m1!4b1!4m5!3m4!1s0x4652539e80687c13:0xf5202e524e3eb86f!8m2!3d55.66802!4d12.5440612?hl=en">Google Map <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </p>
        </div>
    </section>

    <section class="venue-bubbles section-wide">
        <a name="venue"></a>
        <div class="inner">
            <div class="bubble venue">
                <img src="/images/vega-logo.png" />
                <p>Enghavevej 40,<br /> 1674 Copenhagen</p>
            </div>

            <div class="bubble">
                <img src="/images/vega-pixels.png" />
            </div>
        </div>
    </div>

    <section class="newsletter">
        <a name="newsletter"></a>
        <div class="inner text-upper text-bold">
            <p>We are working hard on the speaker program.</p>
            <p class="text-highlight">Get notified as soon as we announce the speakers.</p>

            <div id="mc_embed_signup">
                <form action="//coldfrontconf.us8.list-manage.com/subscribe/post?u=cc078fd6eb28f04be591da615&amp;id=ff44bdceac" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                    <div class="mc-field-group">
                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="hello@there.com">
                    </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                         <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_cc078fd6eb28f04be591da615_ff44bdceac" tabindex="-1" value=""></div>
                    
                        <input type="submit" value="Notify me" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
                    </div>
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>
                </form>
            </div>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[3]='MMERGE3';ftypes[3]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
            <!--End mc_embed_signup-->

        </div>
    </section>

    <section class="organizers section-dark">
        <a name="organizers"></a>
        <div class="inner">
            <p>Event is presented by</p>
            <p><img src="/images/coldfront-text.svg"/> Event IVS</p>
            <p>By attending our events your are accepting our <a href="http://confcodeofconduct.com/">Code of Conduct</a>.</p>
        </div>
    </section>

    <section class="collaboration section-blue">
        <a name="organizers"></a>
        <div class="inner">
            <p>In close collaboration with <a href="https://zendesk.com" target="_blank" ><img src="/images/zendesk.svg" class="zendesk" /></a> &amp; <a href="https://www.jayway.com/" target="_blank"><img src="/images/jayway-only.png"/></a></p>
        </div>
    </section>

 </div>

