<div class="page">
  <section class="schedule" data-aos="fade-up">
        <a name="program"></a>
        <div class="inner">
            <div class="content">
                <h2>The Program</h2>
                <%- include schedule %>
            </div>
        </div>
    </section>
</div>