<div class="page">
  <section class="white info-box">

        <div class="inner">

          <h2>Speaker Roadbook</h2>

          <p>This is the speaker's roadbook. It contains all the important information you as a speaker might want to know before, during and after your stay at ColdFront 2016. Please bookmark this page.</p>

          <h3>Contact information</h3>

          <p>Kenneth Auchenberg is your speaker contact during the whole conference. If you have any questions or problems please talk to him. You can also contact Daniel at any time during your stay.</p>
          <br />
          <ul>
            <li>
              <p><strong>Kenneth Auchenberg</strong></p>
              <p>Phone: +45 53 22 22 33 or +1 778 668 0335</p>
              <p>Email: kenneth@auchenberg.dk</p>
              <p>Twitter: @auchenberg</p>
              <br />
            </li>
            <li>
              <p><strong>Daniel Frost</strong></p>
              <p>Phone: +45 22 51 76 27</p>
              <p>Email: danielfrostdk@outlook.com</p>
              <p>Twitter: @Danielovich</p>
            </li>            
          </ul>
          <br />
          
          <h3>Travel to and from the airport</h3>

          <p>If you are flying into Copenhagen you will arrive at and depart from Copenhagen Airport (CPH). The easiest way to get to Central Copenhagen is by taking the <strong>Metro M2 line</strong> to <strong>Nørreport station</strong>.</p>
          <p>When you exit the arrival area in the airport (Terminal 3), simply to continue straight ahead until you see the Metro signs. Take the escalator one level up. On the station platform you should be able to buy a Zone 4 ticket, which takes you down town. The trains departs every 10th minute, so don't worry if you miss a train.</p>

          <iframe src="https://www.google.com/maps/embed/v1/directions?origin=Copenhagen+Airport,+Kastrup,+Denmark&destination=Skt.+Petri+Hotel,+Krystalgade,+Denmark&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU&mode=transit" width="900" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>    

          <h3>The conference hotel</h3>
          
          <p>Your hotel is the <a href="http://www.sktpetri.com/">SKT PETRI Hotel</a>. A 5 star design hotel situated on a beautiful street in Copenhagen’s quaint, trendy Latin Quarter, SKT. PETRI is a fine example of superior minimalist Scandinavian design—with a warm, welcoming glow.</p>
          
          <p><strong>For the architecture and design interested:</strong> The light-filled lobby is an apt introduction to the many quirky experiences created by local architect Erik Møllers Tegnestue at the SKT. PETRI – being a renovated former department store designed by Vilhelm Lauritsen, dating back to the 1930s. The mezzanine reception area is filled with clean lines and characteristic curves of functionalism, and sizeable rings of light float above the space.</p>
          <br />
          <img src="/images/petri.jpg" width="100%" />
          
          <br />
          <br />
          
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d558.8076505449072!2d12.571487645071677!3d55.6806740012416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe05c14dc584146c7!2sSkt.+Petri+Hotel!5e0!3m2!1sen!2sca!4v1471213386675" width="900" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>     
          
          <br />
          <br />
          
          <p>The address of the hotel is: <strong>Krystalgade 22, 1172 København K, Denmark</strong> and the phone number of the hotel is: +45 33 45 91 00.</p>
          <p>Your room is booked in your name and already paid for.</p>
        
          <h3>Speaker dinner</h3>

          <p>At 18:00 on the 31st of August there will be a speaker dinner. Kenneth will reach out to those of you, who are attending with furher details.</p>

          <h3>The venue</h3>

          <p>Coldfront will be held in one of the oldest cinemas in Copenhagen, <a href="http://www.grandteatret.dk/om_grand/om_grand_teatret/" target="_blank">The Grand Theater</a>.</p>
          <p>The Grand Theater was build in 1913, and is located in a small sidestreet to the famous shopping street Strøget, in very center of old historic Copenhagen.</p>
          <p>The venue address is: <strong>Mikkel Bryggers Gade 8 1460 København K</strong>, and is a 10min walk from the hotel</p>
          
          <p>When entering the venue please go to the front, where the <strong>first row</strong> of the theater is reserved for Speakers and staff.</p>

          <br />
          <img src="/images/grand.jpg" width="100%">
          <br />
          <br />
          <iframe src="https://www.google.com/maps/embed/v1/directions?origin=Skt.+Petri+Hotel,+Krystalgade,+Denmark&destination=Grand+Teatret,+Mikkel+Bryggers+Gade,+Denmark&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU" width="900" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>  

          <h3>Technical</h3>
          <p>The projector is a full HD 1080P projector with a 1920x1080 resolution. On stage there will be HDMI and mini-DP cables to connect to the projector. If your laptop needs a special adapter to connect to HDMI, please bring one.</p>
          
          <p>If your presentation requires sound, please let us know before the conference starts so a cable to connect to the PA can be provided for you.</p>

          <p>On stage there is also a dedicated WIFI ap for speakers. The network is called <strong>ColdFront16 Speakers</strong> and the password is <strong>10gerdyr</strong>. This connection can be used if you need a connection to Internet for your talk, but please keep in mind that it's powered by 4G.</p>

          <h3>Your talk</h3>

          <p>Please make yourself familiar with the schedule and the time for your talk. Please be by the stage about 15 minutes before it is your turn to enter the stage. There is a longer break after every second talk. Your speaker slot is <strong>45 minutes</strong>, and it's up to you if you wanna have an Q/A. We got mic's available if needed</p>

          <p>We also encourage you to put your slides online after your talk.</p>          
          
          <h3>Filming and streaming</h3>
          <p>Your talk will be professionally filmed and published on our <a href="https://www.youtube.com/channel/UCZHbZVjG2wXaLCuHK3LZ5lw">YouTube channel</a> as fast as possible after the conference. All videos published will be published under a CC BY-NC-SA 3.0 licence.</p>

          <p>If you do not want your talk to be filmed, published or streamed, please let us know up front.</p>

          <h3>Official hashtag</h3>
          <p>We feel deeply honored if you mention us in social media. If you do, our official hashtag is: <strong>#coldfront16</strong></p>

          <h3>Copenhagen TechFest and side events</h3>

          <p>ColdFront is a part of a larger series of events that's running under the Copenhagen TechFest brand, which spans the whole month of September. Please check out <a href="http://cphtechfest.org">Copenhagen TechFest</a> if you are interested in more events</p>
         


        </div>

  </section>
</div>

