<div class="page page-speakers">

    <section class="speakers section-wide" data-aos="fade-up">
        <a name="speakers"></a>
        <div class="inner">
            <div class="content">
                <h2>The speakers</h2>
                <ul>
                    <% speakers.forEach(function(speaker) { %>               
                        <li>
                            <a href="/speakers/<%= speaker.slug%>">
                                <img src="/images/speakers/<%= speaker.slug %>.png">
                                <h3><%- speaker.name %></h3>
                                <p><%- speaker.intro %></p>
                            </a>
                        </li>   
                    <% }) %>
                </ul>
            </div>
        </div>
    </section>
        
</div>
