<div class="page page-themes">
	<section class="white" data-aos="fade-up">
		<div class="inner">
		    <div class="themes">
                <h2>The Themes</h2> 
                    
                <h3>Hardware is awesome, and now for the web.</h3>
                <p>Hardware access has always been reserved for native software, but in the recent years the web platform has gained capabilities to access hardware through new specification such as Web Audio, Web Bluetooth, Web NFC.</p>
                <p>We’ll have Kenneth from Intel talking about Web Bluetooth/Web NFC, and the LiveJS crew to show you how to make music, visualizations and even control stage light lighting from the browser and via JavaScript.</p>
                <p>We also have also teamed up with Google and Nordic Semiconductor to be able to provide sample hardware for our attendees, so they can go back home and experiment with hardware for the web!</p>
                
                <h3>Next generation layout and rendering.</h3>
                <p>Building great experiences for the web is easier than ever with the recent arrivals of CSS Grid, Flexbox and animations, but what’s coming next? How do we ensure the web platform is flexible enough to accommodate future use-cases? </p>
                <p>We have Sam from the CSS Houdini Working group providing perspective on what’s next for CSS and how W3C is thinking about future CSS extensibility. To show you what’s possible with Animations, CSS Filters and blend-modes we have invited Evangelina from Argentina to come and talk about the magic of color.</p>
                <p>We are flying Ben in from Australia to provide perspective on what performance means for the the next billion going online, and why rendering performance is important when building next generation layouts.</p>
                
                <h3>The new browser vendors.</h3>

                <p>In a world of progressive web apps we are seeing new browser vendors coming along as they are entering the browser market on mobile devices with a different focus than the big established players.</p>
                <p>In the recent years the web platform has gained new ways to rendering content via &lt;canvas&gt; and WebGL which are vastly different than HTML and CSS. What will happen if the future of web rendering is all about native rendering?</p>
                <p>We have invited Peter from the Samsung Internet team to come and provide perspective on why Samsung is doing their own browser, and why you should care as a front-end developer.</p>
                <p>We also invited Ken Wheeler, a big advocate of React Native to provide perspective on what the future of the web and browsers could be when looked through the perspective of native platforms.</p>

                <h3>Software is more than just code</h3>
                <p>Building software is much more than just writing code. It does involve collaboration, processes and talking to other humans. Running open source projects aren't a easy either and and it takes a lot of time to build a successful community.

                <p>We have invited Una to come and talk about why technical diagramming and documentations are equally important then the code itself.</p>

                
            </div>
        </div>
    </section>
</div>