.splash {
	height: 650px;
    position: relative;
    overflow: hidden;
    padding: 20px;
    background: url(/images/bubble_splash.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: contain;

	.text {
		max-width: 400px;
		margin: 0 auto;
	}

	.inner {
		margin: 0 auto;
		max-width: 600px;
        width: 100%;		
		text-align: center;

		h1, h2, h3 {
			color: #fff;
		}

		h3 {
			margin-bottom: 20px;
		}

		p {
			color: #fff;
			max-width: 510px;
			margin: 0 auto 20px auto;
		}

		.btn-tickets {
			color: #fff;
			border-radius: 0;
			border: 2px solid #fff;
			font-size: 30px;
			padding: 10px 25px;
			margin-top: 20px;
			margin-bottom: 15px;
		}
	}

	.wrapper {
		height: 100%;
		width: 100%;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.logo {
		display: block;
		margin: 0 auto 10px auto;
		width: 100%;
		max-width: 200px;
	}

	h1 {
		display: block;
		font-size: 90px;
	}

	h2 {
		display: block;
		font-size: 60px;
		font-weight: bold;
	}

	h3 {
		display: block;
		margin-bottom: 20px;
		margin: 0;
		padding: 0 30px;
		font-size: 20px;
		line-height: 1.9rem;
	}

	h4 {
		line-height: 1.5rem;
	}

	@media (max-width: 720px) {
		padding: 0;
		background-size: 650px;

		.logo {
			width: 150px;
			margin: 0 auto 20px auto;
		}

		h2 {
			font-size: 50px;
		}

		.inner {
			padding: 0 0 0 0;

		    h3 {
			    font-size: 16px;
			    padding: 0;
                line-height: 1.5rem;
		    }
            
		}

        .text {
            max-width: 320px;
        }

		p {
			font-size: 15px;
		}

	}
}


.bubbles {
	margin-top: -100px;

	.bubble {
		width: 40%;

		img {
			width: 100%;
		}
	}

	.bubble-center {
		width: 50%;
		margin: 0 auto;
	}	

	@media (max-width: 720px) {
		margin: 0;
		padding: 0;
		.bubble {
			width: 80%;
		}
	}
}


.video {
	height: 400px;
	overflow: hidden;
	position: relative;
	background: url(/images/video-sample.png);

	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: #092CE2;
		opacity: 0.9;
		z-index: 1;
	}

	.border-top {
		background: url(/images/video-top.png);
		height: 105px;
    	background-size: cover;

		position: absolute;
		top:0;
		left: 0;
		right: 0;
		z-index: 2;
	}

	.border-bottom {
		background: url(/images/video-bottom.png);
		height: 116px;
    	background-size: cover;

		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2;
	}

	.btn {
		font-size: 20px;
		margin-top: -10px;
		margin-left: -50px;
		position: absolute;
		left: 50%;
		top: 50%;
		z-index: 4;
		color: #fff;
	}

	.inner {
		max-width: 100%;
		padding: 60px 0 0 0;

		iframe {
			opacity: 0;
		}
	}

	@media (max-width: 720px) {
		height: 300px;
	}
}

.venue-bubbles {
	text-align: center;

	p {
		color: #fff;
	}

	.bubble {
		width: 40%;
		display: inline-block;

		&.venue {
			background: url(/images/blue-venue-with-pixels.png);
			background-size: cover;
			height: 360px;
			box-sizing: border-box;
			padding: 100px;
			margin-right: 40px;
			width: 380px;

			img {
				width: auto;
			}
		}

		img {
			width: 100%;
		}		
	}

	@media (max-width: 720px) {
		.bubble {
			width: 100%;
			margin-right: -200px;

			&.venue {
				margin-right: 0;
				margin-left: -100px;
			}
		}
	}
}

.section-dark {
	background: #001153;

 	p {
	 color: #fff
 	}
}

.section-blue {
	background: #092CE3;

 	p {
	 color: #fff
 	}	
}


.organizers {

	.logo {
		width: 120px;
		margin-bottom: 20px;
	}

	a, a:link {
		color: #fff;
		text-decoration: underline;
	}

}

.organizers,
.collaboration {
	text-transform: uppercase;	

	p {
		font-size: 13px;
		font-weight: bold;
	}
}

.collaboration {
	padding: 20px;

	img {
		height: 20px;
		margin-top: -6px;

		&.zendesk {
			height: 15px;
			padding: 0 5px;
		}
	}
	p {
		margin: 0;
	}
}

.newsletter {

	#mc_embed_signup {
		overflow: auto;
    	max-width: 350px;
    	position: relative;
		margin: 0 auto;	
		padding: 50px 0;

		div.mce_inline_error {
			display: none !important;
		}

		input.mce_inline_error {
			border: 2px solid red !important;
		}
	}

	input[type=email] {
		padding: 20px 100px 20px 20px;
		border-radius: 40px;
		background: #fff;
		font-size: 14px;
		border: 0;
		width: 300px;
		float: left;
	}

	.btn {
		margin: 8px 0 0 0;
		position: absolute;
		right: 6px;
	}

	.response {
		padding-top: 100px;
		font-size: 14px;
	}

}