.vertical-center-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

html,
body {
    height:100%;
    width: 100%;
    background: #000;
    margin: 0;
    padding: 0;

    font-family: "Open Sans", Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    line-height: 1.5;

    -webkit-font-smoothing: antialiased;

}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;

    text-align: center;

    nav {
        display: inline-block;
    }
}

.navbar {
    background: #000;
    color: #fff;
    border: 0;
    z-index: 10;

    text-align: center;
}

.nav > li {

    display: inline-block;
    padding: 10px 0;
    float: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;

    > a {
        color: rgba(255,255,255, 0.75);

        &:hover,
        &:focus {
            background: none;
        }

    }  
}

.page {

    color: #fff;
    height: 100%;

    section h2 {
        font-size: 50px;
        margin-bottom: 100px;
    }

}

.splash {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .image {

        background: url('/images/splash.jpg');
        background-size: cover;
        background-position: 50% 50%;
        filter: blur(1px);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .inner {
        margin: 0 auto;
        padding: 0 20px 60px 20px;
        max-width: 640px;
        text-align: center;

        h3 {
            margin-bottom: 20px;
        }

        p {
            max-width: 470px;
            margin: 0 auto 20px auto;
        }
        

        .btn-tickets {
            color: #fff;
            border-radius: 0;
            border: 2px solid #fff;
            font-size: 30px;
            padding: 10px 25px;
            margin-top: 20px;

        }
    }

    .wrapper {
        background: rgba(0,0,0, 0.75);
        height: 100%;
        width: 100%;
        position: relative;
    }

    .logo {
        display: block;
        margin: 0 auto 30px auto;
        width: 300px;
        max-width: 300px;
    }

    h1 {
        display: block;
        font-size: 90px;
    }

    h2 {
        display: block;
        font-size: 25px;

        margin-bottom: 40px;
    }

    h3 {
        display: block;
        margin-bottom: 20px;
        margin: 0;
        padding: 0 30px;

        font-size: 30px;
        line-height: 40px;
    }

    h4 {
        line-height: 1.5rem;
    }
}

.organizers {
    margin-top: 50px;

    ul {
        margin: 0;
        padding: 0;
        overflow: hidden;
        text-align: center;

        li {
            display: inline-block;
            padding-top: 10px;
            margin-right: 40px;

            list-style: none;
            color: #fff;
            overflow: hidden;
            font-size: 14px;

            &:last-child {
                margin-right: 0;
            }

            h6 {
                margin: 0;
                font-size: 14px;
            }    

            p {
                margin: 0;
            }

            > img {
                display: block;
                height: 60px;
                width: 60px;
                margin: 0 auto 20px auto;

                border-radius: 60px;
                box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
            }

        }        
    }
}


.newsletter {
    display: none;

    position: absolute;
    left: 30px;
    bottom: 10px;
    z-index: 20;

    overflow: hidden;

    text-align: left;

    form {
        overflow: hidden;
        width: 200px;
    }

    input {
        float: left;
        background: linear-gradient(#FFF,#DEDEDE);
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        font-size: 11px;
        border: #CCC solid 1px;
        padding: 2px;

        color: #888;
    }

    input[type=email] {
        padding: 3px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    
    }

    input[type=submit] {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;    
        border-left: 0;
        color: #000;
        padding: 3px;

    }

}

.social {
    margin-top: 30px;

    .fb-like {
        line-height: 14px;
    }

}

@media (max-width: 720px) {

    header {
        position: absolute;
    }

    footer {
        position: static;
    }

    .splash {

        .logo {
            width: 200px;
        }
        
        h3 {
            font-size: 22px;
        }

        h4 {
            font-size: 18px;
        }

    }

    .organizers {
        margin-bottom: 30px;
    }

    .newsletter {
        position: static;
        text-align: center;

        margin-bottom: 30px;

        form {
            margin: 0 auto;
        }
    }

    .social {
        position: static;
        text-align: center;
    }    

}