<div class="page">

    <div class="social">
        <a class="btn btn-social btn-shape1" href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a class="btn btn-social btn-shape2" href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a class="btn btn-social btn-shape3" href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    </div>

    <section class="splash">
        <div class="wrapper">
            <div class="inner">

                <div class="text">                                    
                    <img alt="ColdFront logo" src="/images/logo.svg" class="logo" />
                    <h2>Sep 5-6, 2017</h2>
                    
                    <p>Get inspired for tomorrow's front-end challanges and get a peak of what the future brings for mobile and front-end development</p>

                    <a class="btn btn-primary">Register for early bird</a>
                </div>

            </div>
        </div>
    </section>

    <section class="bubbles">
        <div class="inner">
            <div class="bubble pull-left">
                <img src="/images/ladyspeaker-noise-with-pixels.png">
            </div>
            <div class="bubble pull-right">
                <img src="/images/audience-with-pixels.png">
            </div>
            <div class="bubble bubble-center">
                <img src="/images/cake-with-pixels.png">
            </div>
        </div>
    </section>

    <section class="about">
        <a name="about"></a>
        <div class="inner">
            <h2>A two-day front-end conference!</h2>
            <p>ColdFront is the front-end conference in Copenhagen. A two day and single track conference with 12 talks by internationally renowned speakers, 2 panel debates, amazing food and networking with industry leaders. Our focus is on the web, and where front-end world is headed. So sit tight, and get ready to be inspired.</p>
        </div>
    </section>

    <section class="align-left video">
        <a name="video"></a>
        <div class="inner">
            <iframe width="100%" height="510" src="https://www.youtube.com/embed/Fh_0_tQgFZk" frameborder="0" allowfullscreen></iframe>
        </div>
    </section>


    <section class="venue">
        <a name="venue"></a>
        <div class="inner">
            <h2>Venue</h2>

            <p>Coldfront will be held in one of the oldest cinemas in Copenhagen, <a href="http://www.grandteatret.dk/om_grand/om_grand_teatret/" target="_blank">The Grand Theater</a>.</p>
            <p>The Grand Theater was build in 1913, and is located in a small sidestreet to the famous shopping street Strøget, in very center of old historic Copenhagen.

            <p class="photo"><img src="/images/grand.jpg" width="100%"/>
        </div>
    </section>

    <section class="partners">
        <a name="partners"></a>
        <div class="inner">
            <h2>Copenhagen is more than ColdFront</h2> 
            <p>ColdFront has partnered up with like-minded event organisers in Copenhagen, and this year we are happy to help these great events in our lovely city Copenhagen.</p>
        </div>
    </section>            
    <section class="organizers">
        <a name="organizers"></a>
        <div class="inner">
            <h2>Questions?</h2>

            <p>We started ColdFront in 2014 with a mission to put Copenhagen on the front-end map. In 2016 we are organizing the conference for the 3rd time, and hopefully this will be our best one yet!</p>

            <p>ColdFront is organized by <a href="http://twitter.com/auchenberg" target="_blank">Kenneth Auchenberg</a> & <a href="http://twitter.com/danielovich" target="_blank">Daniel Frost</a>.</p>

            <p>Have a question or want to be a part of ColdFront? Don't hersitate to ping us!</p>

            <br />

            <a href="mailto:hello@coldfrontconf.com" class="btn">Contact us</a>

            <div class="team"></div>
        </div>
    </section>

 </div>
