<div class="page">
	<div style="width:100%; height:100%; position: absolute; top: 0; left:0; right:0; bottom: 60px; z-index: 100;"><iframe src="//coldfront.23video.com/10274764.ihtml/player.html?token=274669d176e6a91a1e5b&live_id=12130045&source=embed" style="width:100%; height:100%; position: absolute; top: 0; left: 0;" frameborder="0" border="0" scrolling="no" allowfullscreen="1" mozallowfullscreen="1" webkitallowfullscreen="1"></iframe></div>
</div>
