<div class="page">
    <section class="white speakers">
        <a name="speakers"></a>

            <h2>Speakers</h2>

            <ul class="speaker-list">

            <% speakers.forEach(function(item) { %>

                <li class="Media">
                    <a name="<%= item.slug%>"></a>
                    <div class="image media-figure">
                        <img src="/images/speakers/<%= item.avatar %>">

                    </div>

                    <div class="media-body vertical-center-align">
                        <div class="bio">
                            <h3><%- item.name %></h3>
                            <p><%- item.bio %></p>
                        </div>
                    </div>
                </li>
            <% }) %>

            </ul>
    </section>
    
	<section class="social">
		<div class="inner">
			<a href="https://twitter.com/coldfrontconf" class="twitter-follow-button" data-show-count="true">Follow @coldfrontconf</a>
			<a href="https://twitter.com/share?url=http://coldfrontconf.com" class="twitter-share-button" data-text="ColdFront Conference, one-day front-end conference in Copenhagen. 4th September 2014." data-via="coldfrontconf" data-related="coldfrontconf">Tweet</a>
			<div class="fb-like" data-href="http://coldfrontconf.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>

			<div class="terms">
				<p>
					ColdFront Conference is organized by ColdFront ApS, and by attending our events your are accepting our <a href="http://confcodeofconduct.com/">Code of Conduct</a>.
				</p>
			</div>
		</div>

	</section>
        
</div>
