<!DOCTYPE html>
<html lang="en" class="<%= pageClass %>">
  <head>
    <title>ColdFront 2016, the front-end conference, September 1st 2016, in Copenhagen.</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">

    <link rel="shortcut icon" href="/images/favicon.png" sizes="16x16 32x32 64x64 128x128 256x256" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="<%= assetFingerprint('/stylesheets/bootstrap.min.css') %>">
    <link rel="stylesheet" href="<%= assetFingerprint('/stylesheets/app.css') %>" />

    <script src="/bundle.js" async defer></script>

    <meta name="description" content="" />
    <meta property="og:title" content="ColdFront, the front-end conference in Copenhagen." />
    <meta property="og:description" content="ColdFront is the front-end conference in Copenhagen." />
    <meta property="og:url" content="https://coldfrontconf.com" />
    <meta property="og:site_name" content="ColdFront"/>
    <meta property="og:image" content="https://2016.coldfrontconf.com/images/social_2016.png"/>
    <meta property="og:type" content="website"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@coldfrontconf">
    <meta name="twitter:creator" content="@coldfrontconf">
    <meta name="twitter:title" content="ColdFront, the front-end conference in Copenhagen.">
    <meta name="twitter:description" content="ColdFront is the front-end conference in Copenhagen.">
    <meta name="twitter:image:src" content="https://2016.coldfrontconf.com/images/social_2016.png">
  </head>

  <body>

    <header>
    <div class="navbar">
      <ul class="nav">
        <li><a href="/">ColdFront</a></li>
        <li><a href="/">Schedule</a></li>
        <li><a href="/speakers">Speakers</a></li>
        <li class="highlight"><a href="https://ti.to/coldfrontconf/coldfront-2016">Tickets</a></li>
        <li><a href="/partners">Partners</a></li>
        <li><a href="/diversity">Diversity</a></li>
        <li><a href="mailto:hello@coldfrontconf.com" target="_blank">Contact</a></li>
      </ul>
    </div>
    </header>

    <%- body %>

  </body>

  <script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
  <script type="text/javascript">twttr.conversion.trackPid('l6adh', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>
  <noscript>
    <img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l6adh&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
    <img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l6adh&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
  </noscript>

  <script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
  var fbds = document.createElement('script');
  fbds.async = true;
  fbds.src = '//connect.facebook.net/en_US/fbds.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(fbds, s);
  _fbq.loaded = true;
  }
  _fbq.push(['addPixelId', '875681269219535']);
  })();
  window._fbq = window._fbq || [];
  window._fbq.push(['track', 'PixelInitialized', {}]);
  </script>
  <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=875681269219535&amp;ev=PixelInitialized" /></noscript>

  <!-- Facebook Conversion Code for ColdFront checkouts -->
  <script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
  var fbds = document.createElement('script');
  fbds.async = true;
  fbds.src = '//connect.facebook.net/en_US/fbds.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(fbds, s);
  _fbq.loaded = true;
  }
  })();
  window._fbq = window._fbq || [];
  window._fbq.push(['track', '6026908234266', {'value':'0.00','currency':'DKK'}]);
  </script>
  <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6026908234266&amp;cd[value]=0.00&amp;cd[currency]=DKK&amp;noscript=1" /></noscript>

</html>
