<div class="page">
	<section class="splash">
		<div class="image"></div>
		<div class="wrapper ">
			<div class="inner">
				<div class="movable">
					<div class="fade-in">
						<img alt="ColdFront logo" src="/images/logo.svg" class="logo fade-in" />
						<h3>We're supporting community diversity</h3>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="white align-center">
		<div class="inner">
			<h2>Diversity tickets</h2>

			<p>
				<strong>
					Together with Opera we are happy to announce the first ColdFront diversity tickets. 	
				</strong>
			</p>
			<p>
				At ColdFront we pay our speakers, and Bruce Lawson from Opera has been so kind to turn his ColdFront honorarium into diversity tickets.
			</p>
			<p>
				This year we are able to offer <strong>2x</strong> diversity tickets.
			</p>
			<p>&nbsp;</p>
			<h3>
				What is a diversity ticket
			</h3>
			<p>
				These tickers are made available for you, if you are part of a group which is either under-represented in technology or you simple do not have the means to attend. Such groups could be (but not limited to): immigrants, students, people of color, disabled people and alike. Please do not be afraid to apply if you feel you obliged.
			</p>
			<p>&nbsp;</p>
			<h3>
				How do you get in consideration for a diversity ticket ?
			</h3>
			<p>
				Email us before June 30th, to <a href="mailto:hello@coldfrontconf.com">hello@coldfrontconf.com</a>. We will give you a notice on August 1st. Simply tell us a bit about yourself such as:
				<ul>
					<li>- Who are you?</li>
					<li>- Where you are coming from ?</li>
					<li>- What do you do?</li>
					<li>- Why should you get a ticket?</li>
				</ul>
			</p>
			<p>
				We will treat your application with absolute privacy and we will not be making any public announcements of whom the tickets has gone to.
			</p>
			<p>&nbsp;</p>
			<h3>
				Why are we doing this ?
			</h3>	
			<p>
				These tickets gives us the possibility to support someone who under normal circumstances can’t be a part of ColdFront. We are happy to have the opportunity to lend a hand and help out, as we have seen diversity tickets change the lives and careers for people in the community.
			</p>
		</div>
	
	</section>


	<section class="white align-center organizers">
		<a name="organizers"></a>
		<div class="inner">
			<h2>Questions?</h2>

			<p>We started ColdFront in 2014 with a mission to put Copenhagen on the front-end map. In 2016 we are organizing the conference for the 3rd time, and hopefully this will be our best one yet!</p>

			<p>
				ColdFront is organized by <a href="http://twitter.com/auchenberg" target="_blank">Kenneth Auchenberg</a> & <a href="http://twitter.com/danielovich" target="_blank">Daniel Frost</a>.
			</p>

			<p>Have a question or want to be a part of ColdFront? Don't hersitate to ping us!</p>

			<br />

			<a href="mailto:hello@coldfrontconf.com" class="btn">Contact us</a>


			<p>&nbsp;</p>
			<div class="team"></div>
		</div>
	</section>
	<section class="social">
		<div class="inner">
			<a href="https://twitter.com/coldfrontconf" class="twitter-follow-button" data-show-count="true">Follow @coldfrontconf</a>
			<a href="https://twitter.com/share?url=http://coldfrontconf.com" class="twitter-share-button" data-text="ColdFront Conference, one-day front-end conference in Copenhagen. 4th September 2014." data-via="coldfrontconf" data-related="coldfrontconf">Tweet</a>
			<div class="fb-like" data-href="http://coldfrontconf.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>

			<div class="terms">
				<p>
					ColdFront Conference is organized by ColdFront ApS, and by attending our events your are accepting our <a href="http://confcodeofconduct.com/">Code of Conduct</a>.
				</p>
			</div>
		</div>

	</section>

</div>
