<div class="page">
    <section class="white speakers">
        <a name="speakers"></a>

            <h2>Speakers</h2>

            <ul class="speaker-list">

            <% speakers.forEach(function(item) { %>

                <li class="Media">
                    <a name="<%= item.slug%>"></a>
                    <div class="image media-figure">
                        <img src="/images/speakers/<%= item.avatar %>">

                    </div>

                    <div class="media-body vertical-center-align">
                        <div class="bio">
                            <h3><%- item.name %></h3>
                            <p><%- item.bio %></p>
                        </div>
                    </div>
                </li>
            <% }) %>

            </ul>


    </section>
</div>
