<div class="page">
    <section class="white workshop info-box">
        <a name="workshop" id="workshop"></a>

        <div class="inner">
            <h2>Workshops</h2>
            <p>This year we are running the following workshop on <strong>Wednesday August 31 2016 from 09:00 - 17:00 </strong> in collaboration with <a href="http://www.smashingmagazine.com/">Smashing Magazine</a> and <a href="http://glenmaddern.com/">Glen Maddern</a>.</p>
            
            <div class="info index">
                <ul>
                    <li><a href="#vitaly-friedman">#1: Smart Responsive Design Patterns: Front-End & Performance</a></li>
                    <li><a href="#glen-maddern">#2: Levelling up your CSS in React with Glen Maddern</a></li>
                </ul>
            </div>

            <div class="info">
                <a name="vitaly-friedman"></a>

                <h1>#1: Smart Responsive Design Patterns: Front-End & Performance</h1>

                <p class="workshop-duration"><a href="https://twitter.com/smashingmag">Vitaly Friedman</a>, editor-in-chief of Smashing Magazine • <strong>Wednesday August 31st 2016</strong> • Full-day workshop  </p>
            
                <img src="images/vitaly-friedman.jpg" />

                <p>With HTTP/2, Service Workers, Responsive Images, Flexbox, SVG, WAI-ARIA roles and Font Loading API now available in browsers, we all are still trying to figure out just the right strategy for designing and buildings responsive websites efficiently. We want to use all of these technologies and smart processes like atomic design, but how can we use them efficiently, and how do we achieve it within a reasonable amount of time?</p>

                <p>In this full-day front-end workshop, Vitaly Friedman, editor-in-chief of Smashing Magazine, will be looking into a strategy for crafting fast, resilient and flexible responsive design systems by utilizing all of those wonderful shiny web technologies we have available today. We'll also talk about dealing with legacy browsers and will cover a few dirty little front-end techniques that might ensure that your responsive websites will stay relevant, flexible and accessible in the years to come.</p>

                <h2>This workshop will cover:</h2>
   
                <ul>
                    <li>Content choreography, internationalization and localization issues</li>
                    <li>Layout techniques (flexbox)</li>
                    <li>Resolution independence (SVG)</li>
                    <li>Compressive images (optimization and techniques)</li>
                    <li>Responsive images (technical perspective)</li>
                    <li>Responsive iframes and media: audio, video (incl. subtitles)</li>
                    <li>Accessibility issues</li>
                    <li>Performant components (carousels, video etc.)</li>
                    <li>Deferring and lazy-loading JavaScript (techniques, tools)</li>
                    <li>Dealing with web fonts (options, strategy)</li>
                    <li>Performance issues/strategy (best practices + HTTP/2 + HTTPS + prefetching techniques)</li>
                    <li>Maintenance issues (e.g. dealing with legacy browsers)</li>
                    <li>Responsive HTML email newsletters</li>
                    <li>Tooling (performance, frameworks, testing, quality assurance)</li>
                    <li>(optionally) offline support/experience + debugging</li>
                </ul>

                <p>The workshop is intended for intermediate/advanced designers and developers who have an understanding of responsive design and how it works. We won’t cover the basics — instead, the workshops covers more advanced techniques used in responsive design.</p>
         
                <h2>Venue and schedule</h2>

                <p>The venue and schedule will be announced soon. Location is gonna be central Copenhagen.</p>

                <h2>Pratical things</h2>

                <h3>- What hardware/software do you need?</h3>
                <p>To get the most out of the workshop, you might want to bring a laptop, but it's not absolutely necessary.</p>

                <h3>- ill there be served food/drinks during the day?</h3>
                <p>Yup, we'll serve breakfast, coffee, lunch and cake for you. Just sit back, relax and get ready to learn.</p>

                <h2>Registration</h2>
                    
                <p>We think workshops should be affortable, so we are able to offer this workshop for just <strong>2.000 DKK + VAT</strong>, which we think is quite a scoop!</p>
                <p>We have a limited number of seats, so grab a seat, while you can.</p>
                <br />
                <p><a href="https://ti.to/coldfrontconf/coldfront-2016" class="register"><strong>Register for this workshop →</strong></a>
          
          </div>

            <div class="info">
                <a name="glen-maddern"></a>

                <h1>#2: Levelling up your CSS in React with Glen Maddern</h1>

                <p class="workshop-duration">Glen Maddern, co-creator of CSS Modules • <strong>Wednesday August 31st 2016</strong> • Full-day workshop  </p>
            
                <img src="images/workshops/glen-maddern.png" />

                <p>In the last couple of years, React has had an immense impact on the front-end community. Not only has it demonstrated the strengths of component-driven UI development, it's also brought with it a profound change in tooling — from fully-embracing NPM to vastly more powerful build tools like Babel and Webpack. These ideas and technologies are quickly becoming the new standard — even if you're not working React itself.</p>

                <p>But, for most of us, the way we write CSS hasn't changed all that much. Our favourite CSS tools & techniques were all developed for a vastly different workflow, where we needed strong conventions to avoid going off the rails. But if we build upon a more powerful foundation we can write CSS with much less effort while keeping it safe, legible and maintainable.</p>

                <p>In this full-day workshop, <a href="http://glenmaddern.com/">Glen Maddern</a>, co-creator of <a href="https://github.com/css-modules/css-modules">CSS Modules</a>, will be demonstrating how to take the best bits of current CSS thinking and apply it to modern front-end tooling. And, more importantly, where tooling can eliminate whole classes of common bugs and maintenance dead-ends.</p>

                <h2>This workshop will cover:</h2>
   
                <ul>
                    <li>The components of a "modern" CSS stack, optimising for both developer experience and production performance.</li>
                    <li>What Local Scope in CSS is and the particular problems it solves.</li>
                    <li>How ideas like BEM, SMACSS or Atomic CSS are still very relevant, and how to translate them CSS Modules & React.</li>
                    <li>The aspects of tools like Sass, LESS and PostCSS that we can safely leave behind, and some reasons to keep them in.</li>
                    <li>How locally-styled components can help improve communication within your team and increase people's confidence, particularly if they're not full-time front-end developers.</li>
                    <li>Building flexible, reusable components that let you build UI quickly but also cover the range of usages within a design system.</li>
                    <li>How choices in your CSS influence the design of your components, and vice-versa.</li>
                    <li>How to take advantage of Composition can let you deconstruct shared styles in a straightforward way.</li>
                    <li>Handling contextual styles such as media queries or optional styling such as component variations.</li>
                    <li>Some of the more advanced features of Webpack & React to produce high-performing output.</li>
                    <li>The use-cases when you might want to use inline-styles or a pure-JavaScirpt styling solution.</li>
                </ul>

                <p>The workshop is designed for anyone who touches the CSS on your project — be that experienced front-end developers responsible for the overall architecture and health of the codebase, or those who just need to build a series of components within the existing frameworks in order to ship a feature. We'll be focussing on what makes CSS maintainable across a whole team, so it's great if everyone can participate.</p>
         
                <h2>Venue and schedule</h2>

                <p>The venue and schedule will be announced soon. Location is gonna be central Copenhagen.</p>

                <h2>Pratical things</h2>

                <h3>- What hardware/software do you need?</h3>
                <p>To get the most out of the workshop, you might want to bring a laptop, but it's not absolutely necessary.</p>

                <h3>- ill there be served food/drinks during the day?</h3>
                <p>Yup, we'll serve breakfast, coffee, lunch and cake for you. Just sit back, relax and get ready to learn.</p>

                <h2>Registration</h2>
                    
                <p>We think workshops should be affortable, so we are able to offer this workshop for just <strong>2.000 DKK + VAT</strong>, which we think is quite a scoop!</p>
                <p>We have a limited number of seats, so grab a seat, while you can.</p>
                <br />
                <p><a href="https://ti.to/coldfrontconf/coldfront-2016" class="register"><strong>Register for this workshop →</strong></a>
          
          </div>

        </div>
    </section>
</div>
