<div class="page">

	<section class="splash">
		<div class="inner">	      
	    	<img alt="ColdFront logo" class="logo" src="/assets/images/logo.svg" />
		  	<h1>ColdFront</h1>
		  	<h2>4. Sep 2014 · Copenhagen</h2>	 
		  	<h3>ColdFront is a one-day front-end conference in Copenhagen.</h3>

		    <div class="social">
	    	    <a href="https://twitter.com/share?url=http://coldfrontconf.org" class="twitter-share-button" data-via="coldfrontconf" data-related="coldfrontconf">Tweet</a>
		        <a href="https://twitter.com/coldfrontconf" class="twitter-follow-button" data-show-count="true">Follow @coldfrontconf</a>
		    </div>

 		</div>
	</section>

	<section class="about">
		<div class="inner">
	  		<p>We are building upon the <a href="http://copenhagenjs.dk">CopenhagenJS</a> and <a href="http://thewcdc.net">WarmCrocConf</a> communities to create a unique day where we focus <br /> on what it takes to build for the web.</p>
	  		<p>For the community - by the community.</p>
		  	
		  	<p>Organized by <a href="http://www.danielfrost.io">Daniel Frost</a> and <a href="http://kenneth.io">Kenneth Auchenberg</a>.</p>
		</div>
	</section>

	<section class="tickets">
		<div class="inner">

			<h2>Sign up to be notified when speakers are announced, and tickets go on sale.</h2>

			<form action="http://coldfrontconf.us8.list-manage.com/subscribe/post?u=cc078fd6eb28f04be591da615&amp;id=32e87080fd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<input type="text" value="" placeholder="Your name"  name="LNAME" class="required" id="mce-LNAME">
				<input type="email" value="" placeholder="Your email" name="EMAIL" class="required email" id="mce-EMAIL">
				<input type="submit" value="Okay, dokay!" name="subscribe" id="mc-embedded-subscribe" class="button">
			</form>

		</div>
	</section>



 </div>