<div class="page">

	<section class="splash">
		<div class="inner">	      
	    	<img alt="ColdFront logo" class="logo" src="/assets/images/logo.svg" />
		  	<h1>ColdFront</h1>
		  	<h2>4. Sep 2014 · Copenhagen</h2>	 
		  	<h3>ColdFront is a one-day front-end conference in Copenhagen.</h3>

		    <div class="social">
	    	    <a href="https://twitter.com/coldfrontconf" class="twitter-follow-button" data-show-count="true">Follow @coldfrontconf</a>
	    	    <a href="https://twitter.com/share?url=http://coldfrontconf.org" class="twitter-share-button" data-via="coldfrontconf" data-related="coldfrontconf">Tweet</a>

				<div class="fb-like" data-href="http://coldfrontconf.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
		    </div>

 		</div>
	</section>

	<section class="about">
		<div class="inner">
	  		
			<p>ColdFront is a new single-day and single-track conference focused on front-end in Copenhagen.</p>
		
			<p>We are building upon the <a href="http://copenhagenjs.dk">CopenhagenJS</a> and <a href="http://thewcdc.net">WarmCrocConf</a> communities to create a unique day, where we focus on what it takes to build for the web.</p>
	  	
	  		<p>This means we don't do talks about new futuristic build tools, instead we want to show you how to craft for today's web.</p>
		  	
		</div>
	</section>

	<section class="speakers">
		<div class="inner">

			<h2>Speakers</h2>

			<ul>

				<li class="media">		
					<div class="img"><img src="/assets/images/speakers/kasper_lund.jpg" /></div>
					<div class="media-body">
						<h3>Kasper Lund</h3>
						<p>Google V8 and Dart Engineer.</p>
						<p>Kasper has been deeply involved in many innovations behind Google V8's engine like Crankshaft. Currently working on Google Dart.</p>
						<p><a href="http://verdich.dk/kasper/" target="_blank">verdich.dk</a></p>
					</div>
				</li>

				<li class="media">			
					<div class="img"><img src="/assets/images/speakers/erik_bryn.jpg" /></div>
					<div class="media-body">
						<h3>Erik Bryn</h3>
						<p>Ember.js core team member. </p>
						<p>Erik have been helping companies like Netflix, Mozilla, Square, Zendesk, Zoho and LiveNation to build and optimize their Ember applications.</p>
						<p><a href="http://erikbryn.com" target="_blank">erikbryn.com</a></p>
					</div>
				</li>	

				<li class="media">		
					<div class="img"><img src="/assets/images/speakers/peter_hedenskog.jpg" /></div>
					<div class="media-body">
						<h3>Peter Hedenskog</h3>
						<p>sitespeed.io author</p>
						<p>Peter has been working with web performance for the past many years, and his latests project is a web performance analyser called sitespeed.io.</p> 
						
						<p><a href="http://www.peterhedenskog.com/" target="_blank">peterhedenskog.com</a></p>
					</div>
				</li>

				<li class="media">		
					<div class="img"><img src="/assets/images/speakers/guillermo_rauch.png" /></div>
					<div class="media-body">
						<h3>Guillermo Rauch </h3>
						<p>socket.io author</p>
						<p>Guillermo has been focusing on the realtime web for a while, and is the brain behind popular the socket.io framework.</p>
						<p><a href="http://www.devthought.com/" target="_blank">devthought.com</a></p>
					</div>
				</li>

				<li class="media">		
					<div class="img"><img src="/assets/images/speakers/nataliabuckley.jpg" /></div>
					<div class="media-body">
						<h3>Nat Buckley</h3>
						<p>MakeShift engineer</p>
						<p>Nat has been working with creative usages of the web, connected hardware, running <a href="http://fcc.ntlk.net/">Friday Code Club</a> and teaching HTML/CSS at University of London</p>
						<p><a href="http://natbuckley.co.uk/" target="_blank">natbuckley.co.uk</a></p>
					</div>
				</li>

				<li class="media">		
					<div class="img"><img src="/assets/images/speakers/placeholder3.png" /></div>
					<div class="media-body">
						<h3>To be announced</h3>
					</div>
				</li>	

				<li class="media">		
					<div class="img"><img src="/assets/images/speakers/placeholder2.png" /></div>
					<div class="media-body">
						<h3>To be announced</h3>
					</div>
				</li>

				<li class="media">		
					<div class="img"><img src="/assets/images/speakers/placeholder1.png" /></div>
					<div class="media-body">
						<h3>To be announced</h3>
					</div>
				</li>

			</ul>



		</div>
	</section>


	<section class="organizers">
		<div class="inner">
			<h2>Organizers</h2>

			<ul>
				<li>		
					<img src="/assets/images/organizers/kenneth.png" />
					<div class="media-body">
						<h3>Kenneth Auchenberg</h3>
						<p><a href="http://twitter.com/auchenberg" target="_blank">@auchenberg</a></p>
					</div>
				</li>

				<li>			
					<img src="/assets/images/organizers/daniel.jpg" />
					<div class="media-body">
						<h3>Daniel Frost</h3>
						<p><a href="http://twitter.com/danielovich" target="_blank">@danielovich‎</a></p>
					</div>
				</li>	

			</ul>

		</div>
	</section>

	<section class="tickets">
		<div class="inner">

			<h2>Sign up to be notified when more speakers are announced, and tickets go on sale.</h2>

			<form action="http://coldfrontconf.us8.list-manage.com/subscribe/post?u=cc078fd6eb28f04be591da615&amp;id=32e87080fd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<input type="text" value="" placeholder="Your name"  name="LNAME" class="required" id="mce-LNAME">
				<input type="email" value="" placeholder="Your email" name="EMAIL" class="required email" id="mce-EMAIL">
				<input type="submit" value="Okay, dokay!" name="subscribe" id="mc-embedded-subscribe" class="button">
			</form>

		</div>
	</section>



 </div>