<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Coldfront · one-day front-end conference in Copenhagen. </title>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta property="og:title" content="ColdFront · one-day front-end conference in Copenhagen." />
    <meta property="og:description" content="ColdFront is a one-day front-end conference in Copenhagen." />
    <meta property="og:url" content="http://www.coldfrontconf.com" />
    <meta property="og:site_name" content="ColdFront"/>
    <meta property="og:image" content="http://www.coldfrontconf.com/assets/images/logo_oc.png"/>
    <meta property="og:type" content="website"/>

    <link rel="shortcut icon" href="/assets/images/favicon.png" sizes="16x16 32x32 64x64" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900" type="text/css" />
    <link rel="stylesheet" href="assets/stylesheets/app.css" />
    
    <script src="assets/javascripts/lib/viewport-units-buggyfill.js" defer async></script>
    <script src="assets/javascripts/page.js" defer async></script>
  </head>

  <body>
    <%- body %>
  </body>

</html>