<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Coldfront · one-day front-end conference in Copenhagen. </title>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta property="og:title" content="ColdFront · one-day front-end conference in Copenhagen." />
    <meta property="og:description" content="ColdFront is a one-day front-end conference in Copenhagen." />
    <meta property="og:url" content="http://coldfrontconf.com" />
    <meta property="og:site_name" content="ColdFront"/>
    <meta property="og:image" content="http://coldfrontconf.com/assets/images/logo_oc.png"/>
    <meta property="og:type" content="website"/>

    <meta name="viewport" content="width=device-width">

    <link rel="shortcut icon" href="/assets/images/favicon.png" sizes="16x16 32x32 64x64 128x128 256x256" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800" rel="stylesheet" type="text/css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/stylesheets/app.css" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" defer async></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" defer async></script>
    <script src="/javascripts/page.js" defer async></script>
  </head>

  <body>

    <header>
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li><a href="#speakers">Speakers &amp; Schedule</a></li>
                <li><a href="#tickets">Tickets</a></li>
                <li><a href="#keyboard-warriors">Keyboard Warriors</a></li>
                <li><a href="#venue">Venue</a></li>
                <li><a href="#partners">Partners</a></li>
            </ul>
        </nav>
    </header>

    <%- body %>
  </body>

</html>