<style>

	body {
		background: #fff;
		height: auto;
	}

	.sponsor-list .splash {
	    background: url('/assets/images/splash.jpg');
	    background-size: cover;
	    background-position: 50% 50%;    

	    height: 100vh;

	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -moz-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	    -moz-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;

	    color: #fff;

	}

	.sponsor-list .splash h3 {
		font-size: 40px;
	}

	.sponsor-list .wrapper {
	  background: rgba(0,0,0, 0.5);  
	  height: 100%;
	  width: 100%;
	  position: relative;
	}


	.sponsor-list section {
		min-height: 100%;
		width: 100%;
	}

	.sponsor-list section .inner {
	    margin: 0 auto;
	    padding: 60px 20px 60px 20px;
	    max-width: 900px;    
	    text-align: center;
	}	

	.sponsor-list section .inner h2 {
		margin-bottom: 50px;
		font-size: 40px;
	}

	.sponsor-list .about {
		color: #fff;
	}

	.sponsor-list .about .img {
		background: url(assets/images/venue/grand_side.jpg) no-repeat 0 0;
		background-size: cover;

		height: 700px;
		width: 100%;
	}

	.packages {
		overflow: hidden;
		height: auto;
		position: relative;
	}

	.packages .img {			
		width: 50%;
		height: 550px;
		float: left;
	}

	.packages .inner {
		float: right;
		width: 50%;
	}

	.sponsor-list .packages .inner {
		max-width: 100%;
		text-align: left;

		padding: 40px;
		position: relative;
	}

	.sponsor-list .packages .inner ul {
		margin-bottom: 40px;
	}

	.sponsor-list .packages .inner h2 {
		text-align: center;
	}

	.sponsor-list .packages.right .img {
		float:right;
	}	

	.sponsor-list .packages.right .inner {
		float: right;
		width: 50%;
	}

	.cupcake .img {
		background: url(assets/images/cupcake.jpg) no-repeat 0 0;
		background-size: cover;
	}

	.lunch .img {
		background: url(assets/images/food.jpg) no-repeat 0 0;
		background-size: cover;
	}	

	.beer .img {
		background: url(assets/images/beer.jpg) no-repeat 0 0;
		background-size: cover;
	}	

	.ice .img {
		background: url(assets/images/ice.jpg) no-repeat 0 0;
		background-size: cover;
	}		

	.swag .img {
		background: url(assets/images/swag.jpg) no-repeat 0 0;
		background-size: cover;
	}

	.job .img {
		background: url(assets/images/office.jpg) no-repeat 0 0;
		background-size: cover;
	}

	.coffee .img {
		background: url(assets/images/coffee.jpg) no-repeat 0 0;
		background-size: cover;
	}


	.taken .overlay {
		position: absolute;
		bottom: 0;
		top: 0;
		right: 0;
		left:0;
		z-index: 2;

		background: rgba(255,255,255, 0.9);
		
	}

	.taken .company {
		position: absolute;
		top: 200px;
		left:0;
		right: 0;
		z-index: 3;

		text-align: center;
	}

	.contact {
		height: 600px;
		background: #000;
		color: #fff;

		font-size: 30px;
		padding: 120px 0;
	}


</style>

<section class="sponsor-list">

	<section class="splash">
		<div class="wrapper">
			<div class="inner">
		    	<img alt="ColdFront logo" class="logo" src="/assets/images/logo.svg" />
			  	<h3>Become a ColdFront partner</h3>	 
		  	</div>
	  	</div>
	</section>

	<section class="about">
		<div class="img"></div>
		<div class="inner">
			
			<p>On September 4th 2014, we're hosting the very first ColdFront Conference in Copenhagen. It's a focused one day conference with one track and 8 inspiring international speakers.</p>

			<p>ColdFront is organized by Kenneth Auchenberg and Daniel Frost, two real persons with a passion for people and software and many years of combined community and software experience. </p>

			<p>We are organizing ColdFront because we believe it’s about time that we put Copenhagen on the front-end map, and because we with ColdFront we want to organize a different kind of conference.</p>
		</div>
	</section>	

	<section>
		<div class="inner">
			<h2>Sponsoring ColdFront is different.</h2>

			<p>We believe conferences is a lot about people, and we want our sponsors to connect with the attendees, and the best way to create a connection with people is to sponsor more tangible things.</p>

			<p>We are bored with the classical “sponsor packages”. </p>

			<p>We don’t believe it works, and for most of the attendees it doesn’t matter if your logo is 200 or 600 pixels wide or you have a booth where you hand out brochures or pens that break.</p>

			<p>Instead we give you the opportunity to sponsor the things people love, like a great lunch, the good beer, that nice ice-cream or the conference t-shirt that came with those awesome cupcakes.</p>

			<p>This is the stuff people will remember, in combination with your logo, your brand and your face.</p>

			<p>This is why we say a sponsor of ColdFront, is a partner of ColdFront. We want you to get involved in the ColdFront community.</p>

			<p>Together - we make ColdFront happen</p>

		</div>
	</section>

	<section class="packages job">
		<div class="img"></div>
		<div class="inner">
			<h2>Package 1: The job sponsor</h2>
			<p>Need front-end developers ? Get the best job ad position for the people you're looking for.</p>
			<ul>
				<li>4 x Mentions in emails and tweets during the next 12 months</li>
				<li>2 minute video interview shared on Twitter, Facebook and our YouTube channel.</li>
				<li>1 roll-up at venue</li>
				<li>1 x Conference ticket</li>
				<li>1 Mention (logo and link) in the feedback email, the day after the conference</li>
			</ul>
			<p>Price: 10.000 DKK per job.</p>

		</div>	
	</section>
			
	<section class="packages lunch right">
		<div class="img"></div>
		<div class="inner">
				<h2>Package 2: Lunch sponsor</h2>
				<p>People eat, so why don't you make sure we get some decent food, and in return we'll do this for you.</p>
				<ul>
					<li>Presented on stage before first session</li>
					<li>Logo with link to website</li>
					<li>2 x Mentions in emails/tweets during the next 12 months</li>
					<li>1 x Roll-up at venue</li>
					<li>2 x Conference tickets</li>
				</ul>
				
				<p>Price: 15.000 DKK</p>	
		</div>	
	</section>

	<section class="packages coffee">
		<div class="img"></div>
		<div class="inner">
				<h2>Package 3: Coffee sponsor</h2>
				<p>People drink coffee, so why don't you make sure we get some great coffee, and in return we'll do this for you.</p>
				<ul>
					<li>Presented on stage before first session</li>
					<li>Logo with link to website</li>
					<li>2 x Mentions in emails/tweets during the next 12 months</li>
					<li>1 x Roll-up at venue</li>
					<li>2 x Conference tickets</li>
				</ul>
				
				<p>Price: 15.000 DKK</p>	
		</div>	
	</section>


	<section class="packages cupcake right">
		<div class="img"></div>
		<div class="inner">
				<h2>Package 4: Cupcake sponsor</h2>
				<p>Cupcakes are fun, and we'll print your logo along with ours on them, and in return we'll do this for you:</p>
				<ul>
					<li>Presented on stage before first session</li>
					<li>Logo with link to website</li>
					<li>2 x Mentions in emails/tweets during the next 12 months</li>
					<li>1 x Roll-up at venue</li>
					<li>2 x Conference tickets</li>
				</ul>
				
				<p>Price: 15.000 DKK</p>	
		</div>	
	</section>

	<section class="packages beer taken">
		<div class="overlay"></div>
		<div class="img"></div>
		<div class="inner">
				<div class="company">Sponsored by <p><img src="/assets/images/sponsors/umbraco.png" /></p> </div>

				<h2>Package 5: Beer sponsor</h2>
				<p>We drink beer, and lots of it. So if you make sure we all get a couple of pints and a bunch of salt-sticks, and in return we’ll do this for you:</p>
				<ul>
					<li>Presented on stage before first session</li>
					<li>Logo with link to website</li>
					<li>2 x Mentions in emails/tweets during the next 12 months</li>
					<li>1 x Roll-up at venue</li>
					<li>2 x Conference tickets</li>
				</ul>
				
				<p>Price: 15.000 DKK</p>	
		</div>	
	</section>

	<section class="packages swag right">
		<div class="img"></div>
		<div class="inner">
				<h2>Package 6: Swag sponsor</h2>
				<p>Swag can be fun, so if you have something cool to share people will love it, and in return we'll do this for you:</p>
				<ul>
					<li>Presented on stage before first session</li>
					<li>Logo with link to website</li>
					<li>2 x Mentions in emails/tweets during the next 12 months</li>
					<li>1 x Roll-up at venue</li>
					<li>2 x Conference tickets</li>
				</ul>
				
				<p>Price: 15.000 DKK</p>	
		</div>	
	</section>

	<section class="packages ice">
		<div class="img"></div>	
		<div class="inner">
				<h2>Package 7: Ice cream sponsor</h2>
				<p>We need a bit of tasteful sugar during the conference, and since we are organizing "ColdFront". Why not serve ice-creme to all the attendees. In return we'll do this for you:</p>
				<ul>
					<li>Presented on stage before first session</li>
					<li>Logo with link to website</li>
					<li>2 x Mentions in emails/tweets during the next 12 months</li>
					<li>1 x Roll-up at venue</li>
					<li>2 x Conference tickets</li>
				</ul>
				
				<p>Price: 15.000 DKK</p>	
		</div>	
	</section>

	<section class="contact">
		<div class="inner">

			<p>Send us an email or give Daniel a call.</p>

			<br /> 

			<p>hello@coldfrontconf.com<p>

			<p>or</p>

			<p>+45 2251 7627</p>

		</div>
	</section>

</section>


